<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
  <%= link_to  cocktail_path(cocktail) do %>
    <div class="row">
      <div class="card-category col-md-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <%= cocktail.name %>
      </div>
    </div>
  <% end %>
<% end %>
