<h1>Create your Cocktail</h1>
<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name, placeholder:'Name cocktail', label: false %>
  <%= f.submit "Create your cocktail!", class: "btn btn-primary" %>
<% end %>
